
.Sidebar {
    width: var(--sidebar-dim);
    background-color: var(--background-color-dark);
    border: 1px solid var(--border-color);
    color: var(--text-color);

    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow-x: visible;
    overflow-y: auto; */
}

.options {
    width: 100%;
    gap: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.Sidebar .IconButton {
    width: var(--icons-dim);
    height: var(--icons-dim);
}

@media only screen and (max-width: 768px) {
    .Sidebar {
        width: 100%;
        /* width: 100vw; */
        height: var(--sidebar-dim);
        overflow-x: auto;
        overflow-y: visible;
    }
    .options {
        flex-direction: row;
    }
    .Sidebar .tooltip {
        transform: translate(calc(-50% - 25px), -110%);
    }
}