.app {    
    display: flex;
    color: var(--text-color);
}

main {
    flex: 1;
    height: var(--main-panel-height);
}

.pages-container {
    height: calc(var(--main-panel-height) - var(--tabbar-height));
    overflow-y: auto;
}
.pages-container > * {
    min-height: 100%;
}

@media only screen and (max-width: 768px) {
    .app {
        flex-direction: column-reverse;
    }
}