*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
}
#root, .app {
  height: 100%;
}

:root {
  --editor-height: 100vh;
  --tabbar-height: 30px;
  --sidebar-dim: 45px;
  --quill-toolbar-height: 43px;

  --main-panel-height: var(--editor-height);
  --quill-editor-height: calc(var(--main-panel-height) - var(--tabbar-height) - var(--quill-toolbar-height) - 1em);

  --icons-dim: 40px;

  /* COLOR THEME */
  --background-color: #474E68;
  --background-color-light: #555d7c;
  --background-color-dark: #40465c;
  --border-color: #404258;
  --text-color: #dde6ed;
  --text-color-light:rgb(181, 187, 191);
}

body {
  font-family: sans-serif;
  background-color: var(--background-color-dark);
}

.vertical-stack {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  :root {
    --main-panel-height: calc(var(--editor-height) - var(--sidebar-dim));
  }
}