.AboutPage {
    background-color: var(--background-color-light);
    padding-block: 5%;
}
.AboutPage > * {
    margin-inline: auto;
    max-width: 50%;
}
.AboutPage h1 {
    text-align: center;
    font-size: min(10vmin, 3em);
    margin-bottom: 0.5em;
}
.AboutPage p {
    line-height: 1.5em;
    margin-bottom: 1em;
    font-size:  min(5vmin, 1.5em);
}
.AboutPage p:last-child {
    font-size: min(8vmin, 1.8em);
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .AboutPage > * {
        max-width: 90%;
    }
}